.header {
  position: relative;
  width: 100%;
  min-height: 650px;
  border: none;
  background-color: $color-glacier;
  background-image: url("../img/content/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/content/header-bg@2x.jpg");
    background-size: cover;
  }

  @include vp-1023 {
    min-height: 638px;
  }

  @include vp-767 {
    min-height: 500px;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  position: relative;

  @include vp-1023 {
    margin-top: 28px;
  }

  @include vp-767 {
    margin-top: 20px;
    flex-direction: column;
  }
}

.header__wrapper-img {
  @include vp-1023 {
    height: 20px;
    width: 38px;
  }
}

.header__body {
  color: $color-alice-blue;
  padding: 160px 0 0 95px;

  @include vp-1023 {
    padding-top: 182px;
    padding-left: 0;
  }

  @include vp-767 {
    padding-top: 70px;
  }
}

.header__body h1 {
  font-weight: bold;
  font-size: 54px;
  line-height: 66px;
  margin-bottom: 11px;

  @include vp-1023 {
    font-size: 50px;
    line-height: 61px;
  }

  @include vp-767 {
    font-size: 36px;
    line-height: 125%;
  }
}

.header__body p {
  font-size: 20px;
  line-height: 24px;
  color: $color-alice-blue;
  margin: 0;

  @include vp-1023 {
    font-size: 20px;
    line-height: 22px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 140%;
  }
}
