.nav-footer {
  background-color: $color-tangaroa;
  min-height: 138px;
  display: flex;
  align-items: center;

  @include vp-1023 {
    min-height: 120px;
  }

  @include vp-767 {
    padding: 40px 0;
  }
}

.nav-footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include vp-767 {
    flex-direction: column;
    align-items: flex-start;
  }
}

.nav-footer__nav {
  display: flex;
  text-align: center;

  @include vp-767 {
    flex-direction: column;
    align-items: flex-start;
  }
}

.nav-footer__img {
  @include vp-1023 {
    width: 38px;
    height: 20px;
  }

  @include vp-767 {
    margin-bottom: 30px;
  }
}

.nav-footer__list {
  list-style: none;
  margin: 0 0 0 40px;
  padding: 0;
  display: flex;

  @include vp-1023 {
    margin: 0 0 0 30px;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 15px 0;
  }
}

.nav-footer__link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: $color-alice-blue;
  padding: 10px 0;
  margin-right: 30px;

  @include vp-1023 {
    font-size: 12px;
    line-height: 15px;
  }

  @include vp-1023 {
    padding: 5px 0;
    margin-bottom: 5px;
  }

  @include vp-767 {
    margin-bottom: 5px;
  }
}

.nav-footer__link:hover {
  color: $color-glacier;
}

.nav-footer__social svg {
  cursor: pointer;
  margin-left: 33px;
  transition: all 0.8 ease-in;

  @include vp-1023 {
    width: 15px;
    margin-left: 18px;
  }

  @include vp-767 {
    margin: 0 15px 0 0;
  }
}

.nav-footer__social svg:hover {
  transform: scale(1.2);
}
